@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;500&display=swap');
:root{
	--primary-color:orange;
	--secondary-color:rgb(255, 221, 170);
	--color:#fff;
	--span:rgb(209, 209, 209);
}

body{
	margin: 0;
	padding: 0;
	font-family: 'Roboto', sans-serif;
	scroll-behavior: smooth;
}

.header
{
	display: flex;
	align-items: center;
	justify-content: space-between;
	box-shadow: 0 4px 10px rgb(83, 83, 83);
	width: 100%;
	
	
}

#logo-heart{
	color: var(--primary-color);
}
.logo
{
	margin-left: 30px;
	font-weight: bold;
	font-size: 24px;
	letter-spacing: 2px;
}
.menu-items-ul
{
	display: flex;
	justify-content: space-between;
	align-items: center;
	
}
.menu-items-ul > a{
	margin-right: 20px;
	text-decoration: none;
	color: black;
	font-weight:600;
	letter-spacing: 2px;
	transition: color 0.4s ease-in;
}
.menu-items-ul > a:hover{
	color: var(--primary-color);
}
.menu-items-ul > a > li{
	list-style-type:none ;
}
#join-us{
	padding: 10px 15px;
	background-color: var(--primary-color);
    border-radius: 10px;
	color: #fff;
}
 

/* header styling */
.header-container{
	display: flex;
}
.header-content{
	display: flex;
	flex-direction: column;
	background-color:var(--secondary-color) ;
	padding: 100px 80px;
}
.header-image > img{
	width: 100%;
	height: 100%;
}
.header-content-p{
	text-transform: uppercase;
	font-weight: bold;
	color: var(--primary-color);
	font-size: 13px;
}
.header-content-heading{
	font-size: 55px;
	letter-spacing: 3px;
}
.header-content-text{
	font-weight:500;
	color: rgb(37, 37, 37);


}
.button{
	width: 180px;
	padding: 20px 0;
	font-size: 18px;
	font-weight: bold;
	border: none;
	background-color: var(--primary-color);
	color: #fff;
	border-radius:8px ;
	cursor: pointer;
	transition: background-color .5s ease-in-out;
}
.button:hover{
	background-color: #111;
}

/* services section  */
.service{
	display: flex;
	flex-direction: column;
	padding: 100px 80px;
}
.service-content
{
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 80px;
}
.service-content > h1{
	font-size: 40px;
	letter-spacing: 3px;
	font-weight:bold ;

}
.service-content > p{
	margin-left: 100px;
	width: 40%;
	font-size: 18px;
	color: rgb(71, 70, 70);
}
.services-cards{
	display: flex;
	justify-content: space-between;
	
}
.service-card{
	border: solid 1px #ccc;
	width: 100%;
	height: 100%;
	padding: 40px;
	margin-right: 40px;
	transition: box-shadow 0.5s,
	border 0.5;
}
.service-card:hover{
	border: none;
	box-shadow: 3px 4px 10px rgb(243, 242, 242),
	0 -3px 20px rgb(243, 242, 242);
}
.services-cards:last-child{
	margin-right: 0;
}

.service-card > .card-text > h2{
     font-weight: bold;
	 font-size: 25px;
	 letter-spacing: 3px;
}

.service-card > .card-text > h2:hover{
	color: var(--primary-color);
	cursor: pointer;
}
.service-card > .card-text > p{
	font-size: 17px;
	color: grey;
}

.service-card > .card-foot > p{
	border-bottom: solid 1px #111;
	width: 80px;
	padding-bottom: 10px;
	cursor: pointer;

}
.service-card > .card-foot > p:hover{
	color: var(--primary-color);
	border-color: var(--primary-color);
	
}